/*****
OVERRIDE NAV
********/

.navbar-default .navbar-nav > li > a {
  color: yellow;
  display: inline-block;
}
.continer-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default {
    background-color: #033048;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding: 45px;
}
.navbar-nav{
    float: right;
    padding: 35px;
}
blockquote {
    border-left: none;
}


